In [153]:
import pandas as pd 

# initalize the path row 
import os 
path_tar = "/couragesuper-ds/DS/"
root_path = os.getcwd().replace("\\","/") + path_tar 

# function to help showing the results
def printnl( target ) :
    print( "*\n{}".format(target))
    
# 1.create New dataframe with list of dict
listName = ['John','Jenny','Nate','Julia','Brian','Chris']
listAge  = [20,30,30,40,45,25]
listJob  = ['student','developer','teatcher','dentist','manager','intern']
 
df = pd.DataFrame( {'Name':listName, 'Age':listAge, 'Job':listJob})
printnl( df )

# 2.save to csv 
df.to_csv( root_path + 'sample_noopt.csv' )    
    # if pandas has rangeIndex , you need to save with this option     
df.to_csv( root_path + 'sample_opt_noindex.csv' , index = False)

*
    Name  Age        Job
0   John   20    student
1  Jenny   30  developer
2   Nate   30   teatcher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [154]:
printnl( df.info() )
printnl( df.index )
printnl( df.values )
printnl( df.columns )
printnl( df.shape )
printnl( df.Job.str )
printnl( df['Job'].str )
printnl( df['Job'][0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
Name    6 non-null object
Age     6 non-null int64
Job     6 non-null object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
*
None
*
RangeIndex(start=0, stop=6, step=1)
*
[['John' 20 'student']
 ['Jenny' 30 'developer']
 ['Nate' 30 'teatcher']
 ['Julia' 40 'dentist']
 ['Brian' 45 'manager']
 ['Chris' 25 'intern']]
*
Index(['Name', 'Age', 'Job'], dtype='object')
*
(6, 3)
*
<pandas.core.strings.StringMethods object at 0x00000000055AFE10>
*
<pandas.core.strings.StringMethods object at 0x00000000055AFE10>
*
student

In [155]:
# create dataframe with series 
s1 = pd.core.series.Series(listAge)
s2 = pd.core.series.Series(listJob)

    # with no opt 
df2 = pd.DataFrame( dict(Age=s1,Job=s2))
printnl(df2)

    # with data arguments
df3 = pd.DataFrame( data = dict(Age=s1,Job=s2))
printnl(df3)

*
   Age        Job
0   20    student
1   30  developer
2   30   teatcher
3   40    dentist
4   45    manager
5   25     intern
*
   Age        Job
0   20    student
1   30  developer
2   30   teatcher
3   40    dentist
4   45    manager
5   25     intern

In [156]:
# create dataframe with csv 
df_def = pd.read_csv( root_path + 'sample_noopt.csv')
df_tab = pd.read_csv( root_path + 'sample_noopt.csv' , delimiter= '\t') 
    # ! : default delimiter is comma
printnl( df_def )
printnl( df_tab )

*
   Unnamed: 0   Name  Age        Job
0           0   John   20    student
1           1  Jenny   30  developer
2           2   Nate   30   teatcher
3           3  Julia   40    dentist
4           4  Brian   45    manager
5           5  Chris   25     intern
*
          ,Name,Age,Job
0     0,John,20,student
1  1,Jenny,30,developer
2    2,Nate,30,teatcher
3    3,Julia,40,dentist
4    4,Brian,45,manager
5     5,Chris,25,intern

In [159]:
# header == none ignore one row and def col
    # this makes first line use to one row -_- 
df_noheader = pd.read_csv( root_path + "sample_noopt.csv", header = None ) 
printnl( df_noheader)
df_noheader.columns = ['index','name','age','job']
printnl( df_noheader )

*
     0      1    2          3
0  NaN   Name  Age        Job
1  0.0   John   20    student
2  1.0  Jenny   30  developer
3  2.0   Nate   30   teatcher
4  3.0  Julia   40    dentist
5  4.0  Brian   45    manager
6  5.0  Chris   25     intern
*
   index   name  age        job
0    NaN   Name  Age        Job
1    0.0   John   20    student
2    1.0  Jenny   30  developer
3    2.0   Nate   30   teatcher
4    3.0  Julia   40    dentist
5    4.0  Brian   45    manager
6    5.0  Chris   25     intern

In [160]:
# header == none ignore one row and def col
    # this makes first line use to one row -_- 
df_noopt = pd.read_csv( root_path + "sample_opt_noindex.csv" ) 
printnl( df_noopt)

*
    Name  Age        Job
0   John   20    student
1  Jenny   30  developer
2   Nate   30   teatcher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [163]:
# filtering with entry

    # filtering  
df[ df['Age'] > 20 ].shape[1]
ret = df.query('Age > 25') 
printnl( ret )

    # AND operations  
ret = df.query('Age > 25').query('Job == "dentist"')
printnl( ret )

ret = df[ (df['Age'] > 25) & (df['Job'] == "dentist") ]
printnl( ret )

*
    Name  Age        Job
1  Jenny   30  developer
2   Nate   30   teatcher
3  Julia   40    dentist
4  Brian   45    manager
*
    Name  Age      Job
3  Julia   40  dentist
*
    Name  Age      Job
3  Julia   40  dentist

In [103]:
#filtering columns field 

df.filter(like='e' , axis = 1)

#like는 포함하는 문자열
#regex를 쓸수도 있는데.... 
print(df)

    Name  Age        Job
0   John   20    student
1  Jenny   30  developer
2   Nate   30   teatcher
4  Brian   45    manager
5  Chris   25     intern

In [170]:
# concatenations
l1 = [{'name': 'John', 'job': "teacher"},
      {'name': 'Nate', 'job': "student"},
      {'name': 'Fred', 'job': "developer"}]

l2 = [{'name': 'Ed', 'job': "dentist"},
      {'name': 'Jack', 'job': "farmer"},
      {'name': 'Ted', 'job': "designer"}]
         
df1 = pd.DataFrame(l1, columns = ['name', 'job'])
printnl(df1)
df2 = pd.DataFrame(l2, columns = ['name', 'job'])
printnl(df2)

# concat 두 개의 DF를 연결하여, 새로운 DF를 만들어낸다. global function
result = pd.concat([df1, df2], ignore_index=True)
printnl( result )

# append is internal function in df
result = df1.append(df2,ignore_index=True)
printnl( result )

*
   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
*
   name       job
0    Ed   dentist
1  Jack    farmer
2   Ted  designer
*
   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
3    Ed    dentist
4  Jack     farmer
5   Ted   designer
*
   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
3    Ed    dentist
4  Jack     farmer
5   Ted   designer

In [187]:
#indexing 
printnl( df )

    # [] 
    # default function directs column
printnl( df['Name'] )
    # with list 
printnl( df[['Name','Job']] )

printnl(df[0:1])      # [] is closed 
printnl(df.loc[0:1])  # loc is opend (because this isnt range) 
printnl(df.iloc[0:1]) # iloc is closed

*
    Name  Age        Job
0   John   20    student
1  Jenny   30  developer
2   Nate   30   teatcher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern
*
0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: Name, dtype: object
*
    Name        Job
0   John    student
1  Jenny  developer
2   Nate   teatcher
3  Julia    dentist
4  Brian    manager
5  Chris     intern
*
   Name  Age      Job
0  John   20  student
*
    Name  Age        Job
0   John   20    student
1  Jenny   30  developer
*
   Name  Age      Job
0  John   20  student

In [189]:

# [] and filtering row,col doesnt works 
if False : printnl(df[0:1,0:1]) # fail
elif False  : 
    printnl(df[0:1,'Name']) # fail
    
# loc and filtering filed name works well
if False : printnl(df.loc[0:1,0:1]) # loc needs filed name
else : 
    printnl(df.loc[0:1,'Name']) # OK
    
# iloc and filtering range works well

printnl(df.iloc[0:1,0:1])

*
0     John
1    Jenny
Name: Name, dtype: object
*
   Name
0  John